/*
===================
HOMEPAGE
===================
*/

body {
    margin: 0;
}

a.nav-link {
    text-decoration: none;
    color: white;
}


.background-img {
    position: relative;
}

.title-hp, .subtitle-hp {
    position: absolute;
    text-align: center;
    font-family: "Oswald", sans-serif;
    left: 0;
    right: 0;
    color: #313131;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.title-hp {
    top: 208px;
    font-size: 65px;
    font-weight: 700;
}

.subtitle-hp {
    top: 286px;
    font-size: 47px;
    font-weight:800;
    letter-spacing: 0.1px;
}

.btn-hp, #add-to-cart, .btn-checkout {
    background-color: #131313;
    border: 0px;
    color: white;
    height: 65px;
    width: 336px;
    font-family: "Josefin Sans", "Arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 0.1px;
    padding-top: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.36);
}

#btn-hp-cats {
    top: 420px;
}

#btn-hp-dogs {
    top: 500px;
}

#btn-hp-all {
    top: 610px;
}


/*
===================
PRODUCT GALLERY
===================
*/


.gallery {
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

/* SIDEBAR */

.sidebar {
    float: left;
    width: 15%;
    margin-left: 25px;
}

.nav-link-side {
    text-decoration: none;
}

.sidebar-tag, .sidebar-tag-bold {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.12;
    height: 48px;
    color: #454545;
}

.sidebar-tag-bold {
    font-weight: 600;
    color: #131313;
}

ul { 
    list-style-type: none !important;
    padding: 0;
    margin-top: 84px;
}

/* TOP NAVIGATION BAR */
.navbar-top {
    box-shadow: 0 2px 20px rgba(230, 230, 230, 0.5);
    height: 64px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 4%;
}

a#ic-logo {
    margin-left: 4%;
}

#search-bar {
    height: 44px;
    width: 25%;
    margin-left: 52%;
    margin-right: auto;
    background-color: #FCFCFC;
    box-shadow: inset 0 0 7px rgba(220, 220, 220, 0.44);
    border: 0;
}

::placeholder {
    font-family: "Noto Serif JP";
    padding-left: 12px;
    font-size: 14px;
}

::-ms-input-placeholder {
    font-family: "Noto Serif JP";
    padding-left: 12px;
    font-size: 14px;
}

#ic-cart {
    margin-left: auto;
    margin-right: 4%;
}

.page-title, .about-text, .info-contact {
    padding-left: 20px;
}

.page-title {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    text-transform: uppercase;
    color: #131313;
    font-size: 44px;
}

/* GALLERY */

.container {
    margin-top: 84px;
}

.gallery {
    margin-left: 5%;
}

.product-img {
    max-width: 100%;
    height: auto;
}

.product-info, .product-price, .body-text, .body-text-gray {
    font-family: "Noto Serif JP", sans-serif;
    color: #131313;
    font-weight: 400;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*
====================
ABOUT
====================
*/

.main-content {
    float: left;
    width: 80%;
}

.about-text {
    width: 380px;
}

.body-text {
    text-align: justify;
}

.about-img {
    display: inline;
    float: right;
}

.container-generic {
    width: 75%;
    float: right; 
    margin-top: 84px;
}

/*
====================
CONTACT
====================
*/

.info-contact {
    float: left;
}

.info-hours {
    min-width: 300px;
    max-width: 340px;
    display: flex;
    align-items: baseline;
    height: 20px;
}

h2.subtitle {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    color: #131313;
    font-size: 22px;
}

span.body-text-gray {
    display: inline;
    color: #666666;
    margin-left: auto;
}

.info-map {
    float: left;
    width: 45%;
    padding-left: 20px;
    padding-right: 5%;
}

#img-map {
    width: 350px;
    height: auto;
}

/*
====================
PRODUCT DETAILS
====================
*/

p.nav-link-dark, a.nav-link-dark {
    font-weight: 300;
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    margin-left: 5%;
}

.product-detail-img {
    width: 520px;
    height: 400px;
    overflow: hidden;
    float: left;
}

#detail-img-yellowCB {
    max-width: 100%;
    min-width: 260px;
}

.product-detail {
    padding-left: 20px;
    float: left;
    clear: right;
    max-width: 45%;
    min-width: 440px;
}

.product-detail-title, .product-detail-price {
    font-family: "Josefin Sans", "Helvetica", sans-serif;
    color: #131313;
}

.product-detail-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}

.product-detail-price {
    font-weight: 400;
    font-size: 32px;
}

button#product-color, button#product-size {
    width: 140px;
    height: 45px;
    border: 3px solid #131313;
    background-color: white;
    font-family: "Noto Serif JP", serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
}

.wrapper {
    overflow: hidden;
    border-bottom: 1px solid #131313;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-left: 5%;
}

button#add-to-cart {
    position: relative;
    top: 170px;
    left: 100px;
}


.dropdown, .dropdown-right {
    position: relative;
    display: inline-block;
}

.dropdown-right {
    left: 30px;
}

.dropdown-content, .dropdown-content-right {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    box-shadow: 0 12px 20px rgba(238, 238, 238, 0.5);
    z-index: 1;
}

.dropdown-content p, .dropdown-content-right p {
    text-align: center;
    display: block;
}

.dropdown-content p:hover, .dropdown-content-right p:hover {
    background-color: #62BFFF;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-right:hover .dropdown-content-right {
	display: block;
}

.dropdown-selection {
	line-height: 1.5em;
}

/*
====================
SHOPPING CART
====================
*/

/* elements */

.cart-img-thumbnail {
    width: 18%;
    height: 120px;
}

.cart-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.cart-img-details {
    width: 23.1%;
    
}

.product-link, span.price, span.price-narrow {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #131313;
    text-decoration: none;
}

span.label, span.value {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #131313;
}

.cart-price {
    width: 21.28%;
}

.cart-quantity {
    width: 26.17%;
}

.cart-price-narrow {
    width: 11.45%;
}

/* table parent */

td {
    height: 150px;
    vertical-align: top;
    display: table-cell;
}

/* table */
#cart-table {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 20px 5px;
    border-top: 1px solid #4B4B4B;
    border-bottom: 1px solid #4B4B4B;
}

#subtotal {
    font-size: 24px;
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    color: #131313;
    text-align: right;
    width: 80%;
}

/* bottom navigation */

a.nav-link-dark {
    text-decoration: none;
    margin-left: 0px;
    letter-spacing: -0.3px;
}

.btn-checkout {
    position: static;
    margin-right: 0px;
}

.cart-page-nav {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-top: 30px;
}

/*
====================
ADD-TO-CART
====================
*/

.ic-count {
    height: 12px;
    width: 12px;
    background-color: #ed492d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;
    text-align: center;
    line-height: 0px;
}

.cart-count-text {
    font-size: 8px;
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    color: white;
    font-weight: 500;
}