body {
    margin: 0;
    background-color: #171717;
}

.hp-bg-img {
    width: 100%;
    margin-top: -100px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .hp-bg-img {
        height: 100vh;
        width: auto;
        overflow: hidden;
        margin-top: 0;
        text-align: center;
    }

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    .hp-bg-img {
        height: 100vh;
        width: auto;
        overflow: hidden;
        margin-top: 0;
        text-align: center;
    }
}

.intro-text {
    width: 64%;
    display: block;
    margin: auto;
    position: relative;
}

.intro-img {
    height: 100vh;
    overflow: hidden;
}

/*
====================

*/

.vz-wrapper, .vz-wrapper-canvas {
    position: absolute;
}

/*
====================
MONET AUTOGRAPH
====================
*/

#monet-autograph-svg {
    display: block;
    margin-left: 10%;
    position: absolute;
    width: 80%;
    height: auto;
}

@keyframes monet-autograph {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

#autograph-writing {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: monet-autograph 4s cubic-bezier(.12,.44,.76,.54) forwards;
}

/*
====================
SCROLLING MOUSE
====================
*/

.container-center {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouse {
    width: 36px;
    height: 70px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.mouse::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse-scroll 2s infinite;
    animation-delay: 4.5s;
}

@keyframes mouse-scroll {
    from {
        opacity: 1;
        top: 10px;
    }

    to {
        opacity: 0;
        top: 56px;
    }
}

/*
====================
TEXT STYLES
====================
*/

h1, h2, h3, h4, p {
    color: white;
    display: block;
}

.body-text, h4 {
    font-family: 'Crimson Text', serif;
    font-weight: 300;

}

.body-text {
    font-size: 17px;
}

.quotes, .section-divider, .hp-title {
    font-family: 'Playfair Display', serif;
}

#hp-quote {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    top: 52%;
    transform: translateX(-50%);
    opacity:0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;

    -webkit-animation-delay: 3.2s;
    -moz-animation-delay: 3.2s;
    animation-delay: 3.2s;
}

/* fade in animation */
@-webkit-keyframes fadeIn {
    from {
        opacity:0;
        top: 50%;
    }
    to {
        opacity:1;
        top: 52%;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity:0;
        top: 50%;
    }
    to {
        opacity:1;
        top: 52%;
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
        top: 50%;
    }
    to {
        opacity:1;
        top: 52%;
    }
}


@media only screen and (max-width: 768px) {
    .intro-img {
        height: 200px;
        width: auto;
        overflow: hidden;
    }

    #hp-quote {
        top: 25%;
        width: 90%;
    }

    .intro-text {
        top: 18vh;
        width: 80%;
    }
}


.quotes {
    /*font-style: italic;*/
    font-weight: 300;
    letter-spacing: -0.1px;
    font-size: 32px;
    text-align: center;
}

.section-divider, .hp-title {
    font-size: 26px;
}

.yellow-text {
    color: #fcd537;
    font-weight: 500;
    position: relative;
    background-image: linear-gradient(to right, #171717 50%, #fcd537 50%);
    background-size: 201%;
    transition: background-position 0.5s;
}

.yellow-text:hover {
    color: #171717;
    font-weight: 700;
    background-position: -100%;
}

/*
====================
EARLY YEARS
====================
*/

.text-early-years {
    width: 70%;
    margin-left: 15%;
    position: relative;
}

.img-early-years {
    position: relative;
    height: 100vh;
}

.water-layers {
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.water-animate:hover {
    animation: float 2s ease-out infinite;
}

@keyframes float {
    0%, 100% {
        bottom: 0;
        opacity: 1;
        left: 50%;
    }
    45% {
        bottom: 4px;
        opacity: 0.46;
        left: 50.1%;
    }
}

/*
====================
IMPRESSIONISM
====================
*/

.img-impressionism {
    height: 100vh;
    float: right;
}

.text-impressionism {
    margin-left: 10%;
    position: relative;
}

#divider-impressionism {
    padding-top: 30vh;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .img-impressionism {
        height: 100%;
        width: auto;
    }
}

#impression-1 {
    position: absolute;
    z-index: 2;
    width: 60%;
}



/*#impression-2 {*/
    /*top: 2870px;*/
/*}*/

/*
====================
GIVERNY
====================
*/

.text-giverny {
    margin: auto;
    top: 80vh;
    width: 70%;
    position: relative;
}

.img-giverny {
    width: 100%;
}

.container-giverny {
    width: 90%;
    margin: auto;
    position: relative;
    top: 80vh;
}

#divider-giverny, #giverny-details {
    position: absolute;
    z-index: 2;
}

#giverny-details {
    top: 12vh;
}

i {
    display: block;
    position: absolute;
    z-index: 3;
    top: 3200px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    opacity: 1;
}

#dots {
    height: 50vh;
    width: 100%;
    position: relative;
    z-index: 3;
}

.fx {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}

/*
====================
MORPHING ROUEN
====================
*/
@keyframes rouen-morph {
    0% {
        background: url(../source/monet-rouen-assets/1.1-rouen-morning.png);
        background-size: cover;
    }
    14.29% {
        background: url(../source/monet-rouen-assets/1.2-rouen-morning-red.png);
        background-size: cover;
    }
    28.57% {
        background: url(../source/monet-rouen-assets/1.3-rouen-sunlight.png);
        background-size: cover;
    }
    42.86% {
        background: url(../source/monet-rouen-assets/1.4-rouen-day.png);
        background-size: cover;
    }
    57.14% {
        background: url(../source/monet-rouen-assets/1.5-rouen-sun-blue.png);
        background-size: cover;
    }
    71.43% {
        background: url(../source/monet-rouen-assets/1.6-rouen-blue.png);
        background-size: cover;
    }
    85.71% {
        background: url(../source/monet-rouen-assets/1.7-rouen-sunset.png);
        background-size: cover;
    }
    100% {
        background: url(../source/monet-rouen-assets/1.8-rouen-sunset-less.png);
        background-size: cover;
    }
}

.morph {
    height: 110vh;
    animation: rouen-morph 8s infinite;
    background-size: 100% 100%;
    padding-left: 10%;
    padding-top: 20px;
    top: 100vh;
    position: relative;
}

.text-series {
    width: 48%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .morph {
        width: 100%;
        height: auto;
    }
    .text-series {
        width: 60%;
    }
}

/*
====================
LATE YEARS
====================
*/

.text-background {
    position: absolute;
    width: 50%;
    top: 10vh;
    left: 35vw;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.late-years {
    position: relative;
    top: 100vh;
}

#divider-late, #late-1, #late-2 {
    color: #171717;
}


/*
====================
WATERLILIES
====================
*/

#waterlilies-painting {
    height: 150vh;
    background-image: url("../source/Claude_Monet_-_Water_Lilies_-_1906,_Ryerson.jpg");
    overflow: hidden;
    background-size: cover;
    opacity: 78%;
}

/*
====================
FOOTER
====================
*/

/*#monet-portrait {*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/

/*.footer {*/
    /*padding-top: 60px;*/
    /*position: relative;*/
    /*top: 100vh;*/
    /*width: 90%;*/
    /*margin: auto;*/
    /*margin-bottom: 100px;*/
/*}*/

/* for devices other than mobile*/

.img-wrapper {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    overflow: hidden;
}

/*.profile-reveal {*/
    /*width: 50%;*/
    /*float: right;*/
    /*clear: left;*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
    /*.quotes-left, .profile-reveal {*/
        /*width: 100%;*/
    /*}*/
/*}*/

/*
====================
OTHER ARTISTS INFO
====================
*/

#artist-name, #artist-intro, #link {
    font-family: "Crimson Text", serif;
    color: black;
}

#artist-name {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.4px;
}

#other-artists {
    background-color: rgba(255, 255, 255, 0.92);
    padding: 8px 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(239, 239, 239, 0.24);
    width: 260px;
    position: absolute;
    z-index: 10;
    display: none;
}


