body {
    background-image: url(img-real.jpeg);
    margin: 0;
}

h1, p {
    text-align: center;
    display: block;
    margin: auto;
}

h1 {
    margin-top: 200px;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    color: #131313;
}

p, #save {
    font-size: 18px;
    font-family: 'Assistant', 'Arial';
}

p.with-margin-top {
    margin-top: 30px;
}

.crop {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: 0px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 60px;
    box-shadow: 2px 2px 20px rgba(217, 221, 226, 0.55);
    margin-bottom: 80px;
}

img#animal-img {
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* yeseva-one-regular - latin */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/yeseva-one-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
       url('fonts/yeseva-one-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/yeseva-one-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/yeseva-one-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/yeseva-one-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/yeseva-one-v12-latin-regular.svg#YesevaOne') format('svg'); /* Legacy iOS */
}

/* assistant-regular - latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/assistant-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Assistant'), local('Assistant-Regular'),
       url('/fonts/assistant-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/assistant-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/assistant-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/assistant-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/assistant-v2-latin-regular.svg#Assistant') format('svg'); /* Legacy iOS */
}

/*
====================
WEEK 8
====================
*/

/* button styles */
#save {
    background-color: #3bacf7;
    height: 46px;
    text-align: center;
    color: white;
    display: block;
    width: 140px;
    margin: auto;
    box-shadow: 2px 2px 20px rgba(217, 221, 226, 0.55);
    border-radius: 4px;
    border: 0px;
    margin-bottom: 50px;
}


